<div class="row content-row col-xs-12">

    <h2 class="col-xs-12">{{me.prenom}} {{me.nom}}</h2>
    
    <div class="col-xs-12">
        <img src="portraits/{{me.portrait}}" alt="Aucune photo disponible" title="" class="student-photos"/>
    
    </div>
    
    <h3 class="col-xs-12">Mon profil</h3>
    <!-- profile infos -->
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    
        <div class="row student-boxes">
            <div class="col-xs-12 student-cards">
            
                <ul>
                    
                    <li>
                        <span class="labels">Photo de profil :</span>
						<button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="10MB">
							Choisissez votre nouvelle photo
						</button>
						{{f.name}}
					</li>
                    <li>
                        <span class="labels">Date de naissance :</span> {{me.birthday}} 
                        <a href="#modify" class="student-modifications"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <span class="labels">Spécialité suivie :</span> {{me.specialite}}
                        <a href="#modify" class="student-modifications"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <span class="labels">Couleur du profil :</span>
                        <div class="student-color" style="background-color:indianred;"></div>
                        <a href="#modify" class="student-modifications"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <span class="labels">Description :</span> <span class="italic">{{me.description}}</span>
                        <a href="#modify" class="student-modifications"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </li>
                </ul>
            
            </div>
        </div>
        
        
    
    </div>
    
    <h3 class="col-xs-12">Commentaires</h3>
    <!-- comments -->
    <div class="col-xs-12">
        
        <div class="comments-block row col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">
            
            <div class="col-xs-12 comments-top">
                <div class="comments-pic col-xs-4">
                    <img src="imgs/antoine_gautrain.png" alt="..." class="comments-thumb img-square">
                </div>
                <div class="col-xs-8 comments-identity">
                    <h4>Marc Dupont</h4><h5>diplômé en Informatique</h5>
                </div>
            </div>
            <div class="col-xs-12 comments-content">
            C'était vraiment trois années d'étude très agréable, en partie grâce à toi. Je te souhaite de réussir dans ton projet professionnel et bonne chance !</div>
        </div>
        
        <div class="comments-block row col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">
            
            <div class="col-xs-12 comments-top">
                <div class="comments-pic col-xs-4">
                    <img src="imgs/antoine_gautrain.png" alt="..." class="comments-thumb img-square">
                </div>
                <div class="col-xs-8 comments-identity">
                    <h4>Jean Bernard</h4><h5>diplômé en Matériaux</h5>
                </div>
            </div>
            <div class="col-xs-12 comments-content">
            Oui.</div>
        </div>
    
    
    </div>
    
    
    <div class="col-xs-12 content-block">
    
        <p class="nav-links">&gt; <a href="#home">Revenir à l'accueil</a> &lt;</p>
        
    </div>
</div>

<div ng-click="switchNavigating()" class="navigate-button"><i class="fa fa-bars fa-3x" aria-hidden="true"></i>
</div>
<div ng-click="switchSearching()" class="search-button"><i class="fa fa-search fa-3x" aria-hidden="true"></i>
</div>
<!--<a href="#home"><div id="back-button" class="color-green"></div></a>-->

<!-- navigate menu view -->
<div class="navigate-menu row col-xs-12" ng-show="navigating">
    
    <h3>Menu</h3>
    <ul>
        <a href="#home"><li>Accueil</li></a>
        <a href="#go"><li>Inscription</li></a>
        <a href="#connect"><li>Connexion</li></a>
        <a ng-click="logout()"><li>Déconnexion</li></a>
        
        
    </ul>
</div>

<!-- search view -->
<div class="search-bar row col-xs-12" ng-show="searching">
    
    <!-- search bar -->
    <div class="row col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <input class="search-input" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="true" maxlength="50" placeholder="type a name.."/>
        
    </div>
    
    <!-- search results -->
    <div class="row search-results col-xs-12 col-md-6 col-md-offset-3">
        <div class="col-xs-6 col-md-4 searching-result">
            <div class="row searching-items">
                GODBILLOT Faustine
                <img src="imgs/faustine_godbillot.png" class="col-xs-6 col-xs-offset-3" alt="No photo" title="" />
            </div>
        </div>
        <div class="col-xs-6 col-md-4 searching-result">
            <div class="row searching-items">
                MELIN Victor
                <img src="imgs/victor_melin.png" class="col-xs-6 col-xs-offset-3" alt="No photo" title="" />
            </div>
        </div>
    </div>
</div>